.container {
  height: 100vh;
  max-width: 700px;
}

.tag {
  display: inline-block;
  background-color: #54251c;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px;
  font-size: 14px;
}

.tag .remove {
  cursor: pointer;
  margin-left: 10px;
  color: white;
  font-weight: bold;
}

.card {
  max-height: 83vh;
    overflow: auto;
}
